// custom scrollbar
::-webkit-scrollbar {
    width: 8px;
    display: none;
}

::-webkit-scrollbar-track {
    background: $color-secondary;
    .on-darkSec:not(.uk-offcanvas-page) & {
        background: $color-primary;
    }
}

::-webkit-scrollbar-thumb {
    background: $blue;
    border-radius: 10px;
    .on-darkSec:not(.uk-offcanvas-page) & {
        background: darken($color: $color-beige, $amount: 10%);
    }
}

html {
    // background-image: url(../img/grains.png);
    letter-spacing: 1px;
    transition: 0.3s;
    max-width: 100vw;
    overflow-x: hidden;
    &.uk-light {
        background-color: $color-primary;
    }

    &.uk-offcanvas-page {
        overflow: hidden;
    }

    @media #{$small-and-down} {
        font-size: 10px;
    }
}

body {
    font-size: 1.125rem; //18px
    max-width: 100vw;
    overflow-x: hidden;
    &:not(.loaded) {
        height: 100vh;
        width: 100vw;
        overflow: hidden;
    }
}
section {
    max-width: 100vw;
    overflow-x: hidden;
}
#pageloader {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: $color-primary;
    top: 0;
    left: 0;
    z-index: 99999;
    opacity: 1;
    transition: 0.3s;
    .loaded & {
        opacity: 0;
        pointer-events: none;
    }
}

.uk-button-secondary {
    background: $color-secondary;
    border-color: $color-primary;
    color: $color-primary;

    &:hover {
        color: $color-primary;
    }

    svg path {
        fill: $color-primary;
    }
    .uk-light & {
        background: $color-primary;
        border-color: $color-secondary;
        color: $color-secondary;
        &:not(:hover) {
            svg path {
                fill: $color-secondary !important;
            }
        }
    }
}

p {
    font-weight: 300;

    &:not(.stencil) + p {
        margin-top: 30px;
    }

    @media #{$small-and-down} {
        font-size: 1.4rem;
    }
}

.uk-text-small {
    font-size: 1.125rem; //18px
}

.uk-text-default {
    font-size: 1.25rem; //20px
}

.uk-text-large {
    font-size: 1.875rem; //30px
}

.uk-text-500 {
    font-weight: 500;
}

.uk-light .siteHeader .uk-logo {
    filter: brightness(0) invert(1);
}

.uk-button {
    text-transform: none;
    padding: 10px 55px;

    .uk-light & {
        svg path {
            fill: $color-primary;
        }
    }

    [uk-icon="icon: chevron-right"] {
        margin-left: 5px;
    }
}

.uk-light .uk-dotnav > *:not(.uk-active) > * {
    background: $color-primary-light !important;
}

.stencil {
    font-size: 1.25rem; //20px
    color: $blue;
    font-weight: 500;
    display: inline-flex;
    &:not(.differ) {
        @extend .uk-margin-bottom;
        &::before {
            content: "";
            width: 50px;
            height: 2px;
            background: $blue;
            display: inline-block;
            margin: 15px 18px 5px 5px;
        }
    }

    @media #{$small-and-down} {
        font-size: 1.5rem;
        &::before {
            width: 20px;
            margin: 10px 13px 5px 5px;
        }
    }

    .on-darkSec & {
        color: $color-beige;

        &::before {
            background: $color-beige;
        }
    }

    #siteNavbar & {
        color: $blue;
        &::before {
            background: $blue;
        }
    }
}
.spin-animation {
    animation: spin 14s linear infinite;
}

.spin-wrap {
    position: absolute;
    bottom: 0;
    right: 0;
    // z-index: -1;
    transform: translateX(30%) translateY(45%);

    .spin-lefted & {
        right: initial;
        left: 0;
        transform: translateX(-30%) translateY(45%);
    }
}

.uk-overflow-visible {
    overflow: visible !important;
}

[uk-icon="icon: ring-text"] {
    animation: spin 14s linear infinite;
}

ul.uk-accordion li {
    margin-bottom: 20px;
    width: auto;
    a {
        display: inline-block;
    }
}

p + .uk-button-primary {
    margin-top: 20px;
}

@media #{$small-and-down} {
    .padding-remove-small {
        padding: 0 !important;
    }

    .uk-text-default {
        font-size: 1.4rem;
    }
}

.uk-accordion-title:before {
    transition: 0.2s;
}

.uk-open > .uk-accordion-title:before {
    transform: rotate(180deg);
}

.uk-slider.differ-arrow{
    .arrows-wrap{
        position: absolute;
        bottom: 45px;
        right: 0;
        @media #{$small-and-down} {
bottom: 0;
        }

        .uk-slidenav{
            margin: 5px;
            svg + svg{
                display: none;
            }
        }
    }
}