$mouseCursorSize: 1.5rem;
.mouseCursor {
    position: fixed;
    width: $mouseCursorSize;
    height: $mouseCursorSize;
    border-radius: 50%;
    transform: translateX(-50%) translateY(-50%);
    pointer-events: none;
    top: ($mouseCursorSize/2) * -1;
    left: ($mouseCursorSize/2) * -1;
    transition: opacity 0.3s, color 0.4s, width 0.3s, height 0.3s, border 0.3s, transform 0.1s;
    z-index: 2;
    background: transparent;
    border: 2px solid $color-primary;
    z-index: 99999;

    &:not(.special) {
        .on-darkSec & {
            border-color: $color-secondary;
        }
    }

    &.hidden {
        opacity: 0;
    }
}

.siteHeader {
    .uk-offcanvas-bar {
        *:not(.stencil) {
            color: $color-primary;
        }
    }
    background-color: $color-secondary;
    // background-image: url(../img/grains.png);

    .on-darkSec & {
        background-color: $color-primary;

        .uk-navbar-toggle {
            color: $color-secondary;
        }
    }

    .uk-navbar-nav > li > a,
    .uk-navbar-item,
    .uk-navbar-toggle {
        transition: 0.3s;
    }
    &.uk-sticky-below {
        .uk-navbar-nav > li > a,
        .uk-navbar-item,
        .uk-navbar-toggle {
            min-height: 90px;
        }
    }
}

#siteNavbar {
    .inner-wrapper {
        display: inline-block;
        text-align: left;
        min-width: 56%;
        max-width: 80%;

        @media #{$small-and-down} {
            max-width: initial;

            .uk-margin-bottom {
                margin-bottom: 20px !important;
            }

            ul + .stencil {
                margin: 0 !important;
            }
        }
    }
    .close-wrap {
        display: flex;
        align-items: center;
        justify-content: space-between;

        p {
            margin-bottom: 0;
        }

        .uk-offcanvas-close {
            position: inherit;
            @extend .uk-margin-bottom;
            svg {
                width: 1rem;
            }
        }
    }

    ul {
        padding-left: 0;
        list-style: none;
        a {
            display: inline-block;
            position: relative;
            &::after {
                content: "";
                position: absolute;
                left: 0;
                height: 2px;
                width: 0%;
                opacity: 0;
                transition: width 0.3s, opacity 0.2s;
                background: $color-primary;
                bottom: 0.15em;
            }
            &:hover:after,
            &.active:after {
                width: 100%;
                opacity: 1;
            }
        }
        li + li {
            margin-top: 50px;
            @media #{$small-and-down} {
                margin-top: 30px;
            }
        }

        &.social {
            li {
                margin: 10px 0 20px;
            }
        }
    }
}

.social {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    li {
        width: 50%;
    }
}

.siteFooter {
    background-color: $color-secondary;
    // background-image: url(../img/grains.png);

    * {
        color: $color-primary !important;
    }

    .social {
        li {
            margin: 5px 0;

            span {
                display: none;
            }
        }
        @media #{$small-and-down} {
            margin-top: 20px;
            li {
                width: auto;
                margin: 5px 10px 0 0;
                a {
                    font-size: 0;
                    span {
                        font-size: 16px;
                        display: inline-block;
                    }
                }
            }
        }
    }

    @media #{$small-and-down} {
        .uk-logo {
            svg {
                width: 70px;
                margin: 0 -10px 15px;
            }
        }
    }
}

.banner {
    a.scrollto {
        position: absolute;
        bottom: 70px;
        -webkit-transform: rotate(-90deg) translateY(-100%);
        -ms-transform: rotate(-90deg) translateY(-100%);
        transform: rotate(-90deg) translateY(-100%);
        left: calc(-1 * var(--ukContainerOffset));
        margin-left: 10%;
        span {
            transform: rotate(90deg) translateY(14px) translateX(24px);
            transition: 0.3s;
            transform-origin: top;
        }
        &:hover {
            span {
                transform: rotate(90deg) translateY(14px) translateX(24px) scaleY(1.25);
            }
        }
    }
}

.scrolling-wrapper {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    overflow-x: auto;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;

    .card {
        display: inline-block;
        img {
            max-width: initial !important;
        }
    }
    &::-webkit-scrollbar {
        display: none;
    }
}

.testimonials {
    h2 {
        @media #{$small-and-down} {
            font-size: 28px;
        }
    }
    @media #{$medium-and-down} {
        .arrows-wrap {
            svg {
                width: 30px;
            }
        }
    }
}
